EjbComponent/EjbComponent/ejbModule/META-INF/LibraryService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://stateless.aa.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="LibraryService" targetNamespace="http://stateless.aa.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://stateless.aa.com/" elementFormDefault="unqualified" targetNamespace="http://stateless.aa.com/" version="1.0">

  <xs:element name="addBook" type="tns:addBook"/>

  <xs:element name="addBookJDBC" type="tns:addBookJDBC"/>

  <xs:element name="addBookJDBCResponse" type="tns:addBookJDBCResponse"/>

  <xs:element name="addBookResponse" type="tns:addBookResponse"/>

  <xs:element name="getBooks" type="tns:getBooks"/>

  <xs:element name="getBooksEJBQL" type="tns:getBooksEJBQL"/>

  <xs:element name="getBooksEJBQLResponse" type="tns:getBooksEJBQLResponse"/>

  <xs:element name="getBooksJDBC" type="tns:getBooksJDBC"/>

  <xs:element name="getBooksJDBCResponse" type="tns:getBooksJDBCResponse"/>

  <xs:element name="getBooksResponse" type="tns:getBooksResponse"/>

  <xs:element name="postConstruct" type="tns:postConstruct"/>

  <xs:element name="postConstructResponse" type="tns:postConstructResponse"/>

  <xs:element name="preDestroy" type="tns:preDestroy"/>

  <xs:element name="preDestroyResponse" type="tns:preDestroyResponse"/>

  <xs:complexType name="addBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="book">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="authors" nillable="true" type="tns:author"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="image" type="xs:base64Binary"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="publisher" type="tns:publisher"/>
      <xs:element minOccurs="0" name="xml" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="author">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="publisher">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addBookResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="preDestroy">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="preDestroyResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBooksJDBC">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBooksJDBCResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="postConstruct">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="postConstructResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBooks">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBooksResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addBookJDBC">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addBookJDBCResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBooksEJBQL">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getBooksEJBQLResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addBook">
    <wsdl:part element="tns:addBook" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="preDestroy">
    <wsdl:part element="tns:preDestroy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooksResponse">
    <wsdl:part element="tns:getBooksResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooksJDBC">
    <wsdl:part element="tns:getBooksJDBC" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postConstructResponse">
    <wsdl:part element="tns:postConstructResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooks">
    <wsdl:part element="tns:getBooks" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBookJDBC">
    <wsdl:part element="tns:addBookJDBC" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBookResponse">
    <wsdl:part element="tns:addBookResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="preDestroyResponse">
    <wsdl:part element="tns:preDestroyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooksJDBCResponse">
    <wsdl:part element="tns:getBooksJDBCResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="postConstruct">
    <wsdl:part element="tns:postConstruct" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addBookJDBCResponse">
    <wsdl:part element="tns:addBookJDBCResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooksEJBQL">
    <wsdl:part element="tns:getBooksEJBQL" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBooksEJBQLResponse">
    <wsdl:part element="tns:getBooksEJBQLResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="LibraryPersistentBean">
    <wsdl:operation name="addBook">
      <wsdl:input message="tns:addBook" name="addBook">
    </wsdl:input>
      <wsdl:output message="tns:addBookResponse" name="addBookResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preDestroy">
      <wsdl:input message="tns:preDestroy" name="preDestroy">
    </wsdl:input>
      <wsdl:output message="tns:preDestroyResponse" name="preDestroyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooksJDBC">
      <wsdl:input message="tns:getBooksJDBC" name="getBooksJDBC">
    </wsdl:input>
      <wsdl:output message="tns:getBooksJDBCResponse" name="getBooksJDBCResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postConstruct">
      <wsdl:input message="tns:postConstruct" name="postConstruct">
    </wsdl:input>
      <wsdl:output message="tns:postConstructResponse" name="postConstructResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooks">
      <wsdl:input message="tns:getBooks" name="getBooks">
    </wsdl:input>
      <wsdl:output message="tns:getBooksResponse" name="getBooksResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBookJDBC">
      <wsdl:input message="tns:addBookJDBC" name="addBookJDBC">
    </wsdl:input>
      <wsdl:output message="tns:addBookJDBCResponse" name="addBookJDBCResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooksEJBQL">
      <wsdl:input message="tns:getBooksEJBQL" name="getBooksEJBQL">
    </wsdl:input>
      <wsdl:output message="tns:getBooksEJBQLResponse" name="getBooksEJBQLResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LibraryServiceSoapBinding" type="tns:LibraryPersistentBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addBook">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addBook">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addBookResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preDestroy">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="preDestroy">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="preDestroyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooksJDBC">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBooksJDBC">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBooksJDBCResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postConstruct">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="postConstruct">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="postConstructResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooks">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBooks">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBooksResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addBookJDBC">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addBookJDBC">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addBookJDBCResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBooksEJBQL">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBooksEJBQL">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBooksEJBQLResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LibraryService">
    <wsdl:port binding="tns:LibraryServiceSoapBinding" name="LibraryPersistentBeanPort">
      <soap:address location="http://User-PC:8080/EjbComponent/LibraryService/LibraryPersistentBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>